In [1]:
'''Character to Numeric Conversion'''
# 아스키코드, ord 그 테이블 안에서 그 레터가 몇 번 째야 ? 그 테이블에서 97번째 레터는 뭐야? ord(), chr()
ord("a")

97

In [5]:
chr(99) # chr은 숫자 받는 것. quote붙여서 스트링으로 하면 오류가 난다

'c'

In [6]:
'''아스키 코드 테이블에 대한 것. 이 테이블에는 2^8개의 글자가 들어 있음. 8개의 비트로 나타낼 수 있는 것들의 모임'''
'''캐릭터를 기계어로 인코딩하는 테이블'''
'''90년대에 할려면 확써! 이래서 32비트로 확장'''
'''32비트로 모든 글자 표현! 그냥 상식으로 알아두기'''

'32비트로 모든 글자 표현! 그냥 상식으로 알아두기'

In [7]:
a = [1,2,['a','b',[7,8]]]
a[2][2][0]

7

In [9]:
b = [1,2,3,['ab','cd','effff']]
b[0]

1

In [10]:
b[-1]

['ab', 'cd', 'effff']

In [11]:
b[-1][2]

'effff'

In [12]:
b[2:]

[3, ['ab', 'cd', 'effff']]

In [13]:
b[-1:]

[['ab', 'cd', 'effff']]

In [14]:
b[:2]#2 전까지. 그래서 0번째, 1번째

[1, 2]

In [15]:
del b[3]

In [16]:
b

[1, 2, 3]

In [17]:
b.append(['hello'])

In [18]:
print(b)

[1, 2, 3, ['hello']]

In [19]:
b.append('hello')
b

[1, 2, 3, ['hello'], 'hello']

In [20]:
b.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [21]:
c = [1,2,3,4,6,-12,-9]

In [22]:
c.sort()

In [23]:
c

[-12, -9, 1, 2, 3, 4, 6]

In [24]:
c.sort(reverse=True)
c

[6, 4, 3, 2, 1, -9, -12]

In [25]:
c[:-1]

[6, 4, 3, 2, 1, -9]

In [26]:
c[::-1] '''Reverse sorting'''

[-12, -9, 1, 2, 3, 4, 6]

In [27]:
a = {1,2,3,3,3,3,3}

In [28]:
a ''' 집합은 중복을 지워버리지! cf. multi-set 선언하지 않으면! '''
'''집합에서는 순서가 중요하지 않아. 리스트에서는 순서가 중요한 것과 상반되지. 그래서 집합은 숫자가 막 뒤섞여 나오기도 함'''

{1, 2, 3}

In [29]:
k = [1,2,3]
k.extend(4)

TypeError: 'int' object is not iterable

In [30]:
k.extend([4,5]) '''extend는 리스트만 인풋으로 받는다'''

In [31]:
print(k)

[1, 2, 3, 4, 5]

In [32]:
m = 3
n = 5

In [33]:
del m

In [34]:
m

NameError: name 'm' is not defined

In [35]:
n

5

In [36]:
m = 3
n = 5
m is b

False

In [37]:
m == b

False

In [38]:
import sys
sys.getrefcount(67) 
'''67이 지금 이 피시 상에서 총 16번 사용이 된 것임. 67은 한 번만 만들어 두고, 계속 가리키는것이지. 즉 16번 찍힘
을 당했다는 것이야. 쿡쿡쿡'''

16

In [40]:
sys.getrefcount(780000092807888)

3

In [43]:
'''만일 카운트가 0이 되면 소멸시킬 수 있다고.... '''
a = 7
del a 
a # 에이 없어!

NameError: name 'a' is not defined

In [47]:
def sum_many(*x):
    sum = 0
    for i in x:
        sum = sum + i
    return sum
result = sum_many(1,2,3)
result2 = sum_many(1,2,3,4,5,6,6,6,6,6)
print(result, result2)

6 45

In [48]:
def sum_mul(select, *args):
    if select == "sum":
        result = 0
        for i in args: 
            result = result + i
    elif select == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [50]:
def sum_and_mul(a,b):
    return a+b, a*b
result = sum_and_mul(7,8)
print(result)

(15, 56)

In [52]:
sum, mul = sum_and_mul(5,4)

In [53]:
print(sum, mul)

9 20

In [56]:
import math
print(math.pi)

3.141592653589793

In [57]:
'''조교와 함께하는 Function Practice'''

'조교와 함께하는 Function Practice'

In [72]:
def f1(list):
    
    for i in list:
        tmp = []
        if i % 2 :
            tmp.append(i)
        else: continue
    return len(tmp)
'''조교#1'''
def taf1(list):
    num = 0
    for i in list:
        if i % 2:
            num += 1
    return num

In [73]:
f1([1,2,3,4,5])

1

In [74]:
taf1([1,2,3,4,5])

3

In [96]:
def f2(list):
    for i in list:
        tmp = []
        if i % 2:
            tmp.append(i)
        else: continue
    return tmp
    print(tmp)
    
def f22(list):
    for i in list:
        if i % 2:
            print(i)

In [98]:
f22([1,2,3,4]), f22([1,2,3,4,5])

1
3
1
3
5

(None, None)

In [ ]:
'''조교#2'''
def f22(list):
    for i in list:
        if i % 2:
            print(i)

In [104]:
'''#3'''
# return sum of all odds
def f3(list):
    for i in list:
        sum = 0
        if i % 2 != 0:
            sum = sum + i
        return sum
f3([1,2,3,4])

def f33(list):
    sum = 0
    for i in list:
        if i % 2:
            sum += i
    return sum

In [109]:
'''4'''
# sum of all index of odd
def f4(list):
    sum = 0
    index = 0
    for i in list:
        if i % 2 !=0:
            sum = sum + index
            index +=1
        return sum
f4([1,2,3,4])

0

In [107]:
'''조교 4'''
def f44(li):
    sumofindex = 0
    index = 0
    for val in li:
        if val%2 ==1:
            sumofindex += index
        index +=1
    return sumofindex

In [108]:
f44([1,2,3,4])

2

In [112]:
'''5'''
def f5(list):
    tmp = []
    for i in list:
        
        tmp.append(i**2)
    return tmp
f5([1,2,3])

[1, 4, 9]

In [113]:
'''5조교'''
def f5():
    t = []
    for x in l:
        t.append(x**2)
    return t

In [114]:
'''6'''
def f6(list):
    return max(list)

f6([1,2,3])

def f66(list):

3

In [ ]:
'''6조교'''
max = li[0]
for i in lik:
    if i > max:
        max = i
return max

In [117]:
'''7'''
def f7(list):
    count = 0
    sum = 0
    for i in list:
        sum += i
        count += 1
    return sum / count

'''조교'''
sum = 0
for i in li:
    sum += i
    return sum /len(li)

In [118]:
f7([1,2,3,4])

2.5

In [125]:
def f8(a,b,n):
    li = range(a, b+1)
    for i in li:
        if i%n == 0: 
            print(i)
            
f8(1,10,2)

2
4
6
8
10

In [132]:
def f9(w,h):
    for i in range(1,h+1):
        print(w*"*")
f9(3,3)

***
***
***

In [135]:
def f10(n):
    for i in range(1,n+1):
        print ("*" * i)
f10(3) '''정삼각형?'''

*
**
***

In [140]:
def f11(list):
    for i in range(len(list)):
        if list[i] > list[i+1]:
            #if 다음에 bool 식이 와야 하고, 밑에 등호 두 개 
            return True
        elif list == False:
            return True
        
f11([5,4,3])
 '''
 if (len(l) ==0 or len(l) ==1): 
     return True
 for i in range(0, len(l)-1):
     if (l[i]<l[i+1]):
         return False
     return True'''   '''레인지 식에서 -1을 빼면, 아웃오브레인지 오류가 나옵니다...확인하시옹'''

True

In [147]:
def f12(list):
    for i in list:
        if i < 0:
            return True
        else:
            return False

In [148]:
f12([1,2,-3])
'''
for i in li:
    if not i <0:
        return False
return True'''

False

In [149]:
f12([-2,-3])

True

In [150]:
def f13(list,target):
    # return index of the target number
    return target.index() in list

In [151]:
f13([1,2,3],3)

AttributeError: 'int' object has no attribute 'index'

In [157]:
def f13(list,target):
    # return index of the target number, and the last one
    for i in list:
        if target == list[i]:
            return i # 이렇게 하면 반만 됩니다... 더 해야해
'''
f13(li,tgt):
    tgtidx = 0
    for idx in range(len(li)):
            if tgt == li[idx]:
                tgtidx = idx
    return tgtidx'''

In [163]:
f13([1,2,3,1,2,3],3)

2

In [ ]:
def f14(list):
    # return the index of the last negative number
    index = 0