In [1]:
# Converting Celsius to Fahrenheit

# Class 061217
def main():
    cel = eval(input("Enter the Celsius degree: "))
    fah = cel * (9/5) + 32
    print("The temperature is", fah,"degree Fahrenheit.")

In [2]:
main()

Enter the Celsius degree: 32
The temperature is 89.6 degree Fahrenheit.

In [3]:
# Class 061417
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [4]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
answer = []
for i in range(2,11):
    answer.append(i)

In [6]:
answer

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
for i in range(2,11):
    answer.append(str(i))

In [8]:
answer

[2, 3, 4, 5, 6, 7, 8, 9, 10, '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [9]:
10 // 3 # Divisio.. #몫

3

In [10]:
10 % 4 # 나머지

2

In [11]:
10 % 3 # Modulo Operator

1

In [12]:
"aaaa" > "aabz" # 알파벳 순서 뒤에 있는걸 큰 수 인식한다

False

In [31]:
# Fatorial
# Program to compute the factorial of a number
# Illustrates for loop with an accumulator

def fac():
    n = eval(input("Enter a number: "))
    tmp = 1
    for i in range(n,1,-1):
        tmp = i * tmp 
        
    print("The factorial of",n,"is",tmp)

In [32]:
fac()

Enter a number: 5
The factorial of 5 is 120

In [33]:
a = "Super Duper amazing"
a[:]

'Super Duper amazing'

In [34]:
a[:-1]

'Super Duper amazin'

In [35]:
a[2:-2]

'per Duper amazi'

In [36]:
len(a)

19

In [39]:
# Program example with String Operation"
def StOp():
    # get user's first and last names
    first = input("Please enter your first name: ")
    last = input("And last name, please: ")
    
    print("Thanks",",",first,".",last,"!")

In [40]:
StOp()

Please enter your first name: Madison
And last name, please: chung
Thanks , Madison . chung !

In [41]:
def Spliter():
    sentence = input("Write down anything you wnat: ")
    print(sentence.split())

In [42]:
Spliter()

Write down anything you wnat: Super hungry doncha
['Super', 'hungry', 'doncha']

In [43]:
def Spliter2():
    sentence = input("Give a input comprised of various words and commas: ")
    print(sentence.split(","))

In [44]:
Spliter2()

Give a input comprised of various words and commas: Hoo,yes I, Like you, much, much, much, but, Still
['Hoo', 'yes I', ' Like you', ' much', ' much', ' much', ' but', ' Still']

In [46]:
# String computations
x = "ham"
y = "burger"
z = 10
k = "something %d" %z
k

'something 10'

In [47]:
m = "something %f" %z

In [48]:
m

'something 10.000000'

In [49]:
n = "something %.3f" %z
n

'something 10.000'

In [51]:
x = []
x.append("ham")
x

['ham']

In [52]:
x.append(34) # 이거는 그냥 그 변수가 바로 추가되는데 말이지

In [53]:
x

['ham', 34]

In [54]:
pop.x(34)

NameError: name 'pop' is not defined

In [55]:
x.pop(34)
x

IndexError: pop index out of range

In [56]:
x.pop(1)   # pop 할 때, 인덱스를 적어주어야 한다는 놀라움. 
x

['ham']

In [57]:
x.insert(1,"hungry5")
x

['ham', 'hungry5']

In [61]:
# A program to print the month name, given its number.
# This version uses a list as a lookup table.

def name_month():
    # month is a list used as a lookup table.
    months = ['Jan','Feb','Mar','April','May','Jun',
             'July','Aug','Sep','Oct','Nov','Dec']
    n = eval(input("Enter the number of month that you curious about from 1 to 12: "))
    name = months[n-1]
    print("The name of the month is", name)

In [62]:
name_month()

Enter the number of month that you curious about from 1 to 12: 4
The name of the month is April

In [63]:
# Mutability Issue of List and String Data Type
myList = [1,2,3,4]
myList[3] = 7
myList

[1, 2, 3, 7]

In [64]:
myString="Coffee"
myString[1]

'o'

In [65]:
myString[1] = "a"
myString

TypeError: 'str' object does not support item assignment

In [66]:
# Tuple
t1 = ()
t2 = (0,)
t3 = ['a','ab', ['ab','cd']]

In [67]:
type(t3)

list

In [68]:
# Set Data type
s1 = {1,2,3}
s2 = {5,6,7}
s1|s2

{1, 2, 3, 5, 6, 7}

In [69]:
s1 = {1,2,3,7}
s1-s2

{1, 2, 3}

In [70]:
s1 & s2

{7}

In [71]:
s3 = set([4,4,5,6,7,7,7])

In [72]:
s3

{4, 5, 6, 7}

In [73]:
s4 = set("Louis")

In [74]:
s4

{'L', 'i', 'o', 's', 'u'}

In [75]:
s3.union(s4)

{4, 5, 6, 7, 'L', 's', 'u', 'o', 'i'}

In [76]:
s3.intersection(s2)

{5, 6, 7}

In [77]:
s2.difference(s3)

set()

In [78]:
s4.add("Carol")

In [79]:
s4

{'Carol', 'L', 'i', 'o', 's', 'u'}

In [80]:
s3.update([2,3,4,5,5])

In [81]:
s3

{2, 3, 4, 5, 6, 7}

In [82]:
s4.remove('Carol')

In [83]:
s4 # Since the order is not important in Set,

{'L', 'i', 'o', 's', 'u'}

In [84]:
dic = {'name':"Yujin", "phone": "NA"}
dic["name"]

'Yujin'

In [85]:
dic['phone']

'NA'

In [86]:
dic[0] = {"Gender":"Female"}

In [87]:
dic

{'name': 'Yujin', 'phone': 'NA', 0: {'Gender': 'Female'}}

In [91]:
dic["Gender"] ='female'

In [92]:
dic

{'name': 'Yujin', 'phone': 'NA', 0: {'Gender': 'Female'}, 'Gender': 'female'}

In [94]:
del dic[0] # KEY!

In [95]:
dic

{'Gender': 'female', 'name': 'Yujin', 'phone': 'NA'}